<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        z<link href="css/mui.min.css" rel="stylesheet" />
</head>

<body>
<div id="op">
    <form class="mui-input-group">
        <div class="mui-input-row">
            <label>用户名</label>
            <input type="text" id="account" class="mui-input-clear" placeholder="请输入用户名">
        </div>
        <div class="mui-input-row">
            <label>密码</label>
            <input id="password" type="password" class="mui-input-password" placeholder="请输入密码">
        </div>
        <div class="mui-button-row">
            <button type="button" id="ok" class="mui-btn mui-btn-primary" >确认</button>
            <button type="button" class="mui-btn mui-btn-danger" >取消</button>
        </div>
    </form>
</div>
<script src="js/mui.min.js"></script>
<script type="text/javascript">

    mui("#op").on("tap","#ok",function(){

        var account= mui("#account")[0].value;
        var password= mui("#password")[0].value;
        var url="http://127.0.0.1:8089/aaa";
        mui.ajax(url,{
        	async:false,
            data:{
                login:account,
                pass:password
            },
            dataType: 'JSON',
            type:'POST',
            headers:{'Content-Type':'application/json'},
            success:function(data){
                //服务器返回响应，根据响应结果，分析是否登录成功；

            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }

        });

    })

</script>
</body>

</html>