<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title></title>
   <!-- <link rel="stylesheet" href="css/mui.min.css"/>-->
     <!-- <link rel="stylesheet" href="css/login.logins.css"/>-->
     <link rel="stylesheet" href="../css/style.css" />
     <link rel="stylesheet" href="/css/login.logins.css" />
     <link rel="stylesheet" href="../css/mui.min.css" />
     <link rel="stylesheet" href="../css/login.css" />
     <script type="text/javascript" src="../js/mui.js" ></script>
     <script type="text/javascript" src="../js/mui.min.js" ></script>

</head>

<body>
<div class="mui-content" style="  background:url('../images/15.jpg')no-repeat;
    width:100%;
    height:100%;
    background-size:100% 100%;
    position:absolute;  ">


    <div class="bg">
        <div style="margin: 0px auto; width: 100px; height: 100px;">
            <span><img src="../images/nan.png" style="max-width: 80px; vertical-align: middle;"></span>
        </div>

        <div style="height: 50px;width: 100%;">
            <input type="text" placeholder="账号/手机号" list="list" type="tel" class="account" id="input-test"/>

            <datalist id="list">
                <option>790</option>
            </datalist>

        </div>


        <input type="password" placeholder="密码" id="input-pass" class="password" />

        <div class="mui-content-padded" style="margin: 20px 0px 0px 0px ;">
            <button id='login' class="mui-btn mui-btn-block mui-btn-primary"
                     style="border:0; font-size:19px ;  background-color: #R207 G0 B112;">登录
            </button>



            <div class="link-area">
                <a id='reg' style="color: #fff; float: left;">忘记密码？</a>
                <a id='forgetPassword' style="color: #fff; float: right;">新用户注册</a>
            </div>
        </div>
    </div>

    <div class="mui-content-padded oauth-area">
        <h5 style="color: #fff;text-shadow: 0.1em 0.1em 0.05em #000"> 登录即代表阅读并同意<a style="">服务条款</a>
        </h5>
    </div>
</div>



<script type="text/javascript">


    

    


</script>

</body>
</html>